label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 0.5em;
  border: 1px solid #999;
}

.radio label:before {
  border-radius: 90px;
}

.checkbox input:checked + label:before,
.radio input:checked + label:before {
  background: #999;
}

input {
  position: absolute;
  top: -9999px;  
}

.inner {
  margin-top: 3em;
}