
/* Hide original input */
input[type='checkbox'],
input[type='radio'] {
  position: absolute;
  top: -9999px;
}

/* Define pseudo element as fake input */
input[type='checkbox'] + label:before,
input[type='radio'] + label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 0.5em;
  border: 1px solid #999;
}
input[type='radio'] + label:before {
  border-radius: 90px;
}

/* Focus state */
input[type='checkbox']:focus + label:before,
input[type='radio']:focus + label:before {
  background: #ccc;
}

/* Checked state */
input[type='checkbox']:checked + label:before,
input[type='radio']:checked + label:before {
  background: #999;
}

